html, body {
  height: 100%;
}

body{
background-image: url("background.png");
background-repeat: repeat;
font-family: Gill Sans, Gill Sans MT, Calibri,sans-serif;
}

#topLogo{
max-width: 25%;
}

/* Navigation Bar */
.center {
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    display: block;
}
ul.topnav {
  width: 100%;
      display: inline-block;
      text-align: center;
      padding: 0;
      list-style: none;
      opacity: .85;
      border-top: 2.2px solid black;
      border-bottom: 2.2px solid black;
      margin-left: 0px;

}
ul.topnav li {
  display: inline-block;
text-align:center;
}
ul.topnav li a {
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    color:black;
}
ul.topnav li.right {float: right;}
@media screen and (max-width: 850px){
    ul.topnav li.right,
    ul.topnav li {float: none;}
    body{overflow-y: scroll;}
    #contact{width:100%;}
}

/* Home Page */
#welcome{
  background-color: black;
  opacity: .8;
  border-top: 2.2px solid black;
  border-bottom: 2.2px solid black;
  margin:auto;
  width: 60%;
  text-align: center;
}
#team{
  max-width: 30%;
}
/* Skin Changer Page */
#skinchange{
  background-color: black;
  opacity: .8;
  border-top: 2.2px solid black;
  border-bottom: 2.2px solid black;
  margin:auto;
  width: 60%;
  text-align: center;
}

/* AeroChecker Page */
#aerocheck{
  background-color: black;
  opacity: .8;
  border-top: 2.2px solid black;
  border-bottom: 2.2px solid black;
  margin:auto;
  width: 60%;
  text-align: center;
}
/* Contact Page */
#contact{
  background-color: black;
  opacity: .8;
  border-top: 2.2px solid black;
  border-bottom: 2.2px solid black;
  margin:auto;
  width: 60%;
  text-align: center;
}
#dog{
  max-width: 10%;
  opacity: 1;
}
.font{
  color:white;
  opacity: 1;
}
/* Terms Page */
#terms{
  background-color: black;
  opacity: .8;
  border-top: 2.2px solid black;
  border-bottom: 2.2px solid black;
  margin:auto;
  width: 60%;
  text-align: center;
}
#pig{
 max-width: 10%;
 opacity: 1;
}


/* PRELOADER FADE */
.preload {
  background: radial-gradient(white, #efe1bf);
  transform: translateY(-75px);
  justify-content: center;
  align-items: center;
  display:flex;
}
#preloader.hidden {
  opacity: 0;
}
#preloader::before,
#preloader::after {
animation: load 3s infinite alternate ease-in-out;
}
#preloader::before {
  top: 0;
}
#preloader::after {
  bottom: 0;
}
@keyframes load {
  0% {
    left: 0;
    height: 30px;
    width: 15px;
  }
  50% {
    height: 8px;
    width: 40px;
  }
  100% {
    left: 235px;
    height: 30px;
    width: 15px;
  }
}
.content {
  display: none;
}
#ender{
  max-width: 20%;
  position: fixed;
  bottom: 0;
  right: 0;
}

/* PRELOADER CONFIG */
.loader {
  display: inline-flex;
  flex-wrap: wrap;
  width: 150px;
  height: 150px;
  transform-style: preserve-3d;
  transform: rotateX(45deg) rotate(45deg);
}
.box {
  position: absolute;
  top: 0;
  left: 0;
  width: 50px;
  height: 50px;
  background: green;
  box-shadow: 187.5px 187.5px 20px #cecdcc;
  animation: move 4.5s ease-in-out infinite both;
  transform-style: preserve-3d;
}
.box:nth-child(1) {
  animation-delay: -2.25s;
}
.box:nth-child(2) {
  animation-delay: -4.5s;
}
.box:nth-child(3) {
  animation-delay: -6.75s;
}
.box:before, .box:after {
  display: block;
  content: "";
  position: absolute;
  width: 50px;
  height: 50px;
}
.box:before {
  top: 100%;
  left: 0;
  background: #5b3104;
  transform-origin: center top;
  transform: rotateX(-90deg);
}
.box:after {
  top: 0;
  left: 100%;
  background: #5b3104;
  transform-origin: center left;
  transform: rotateY(90deg);
}
@keyframes move {
  0%, 100% {
    transform: none;
  }
  12.5% {
    transform: translate(50px, 0);
  }
  25% {
    transform: translate(100px, 0);
  }
  37.5% {
    transform: translate(100px, 50px);
  }
  50% {
    transform: translate(100px, 100px);
  }
  62.5% {
    transform: translate(50px, 100px);
  }
  75% {
    transform: translate(0, 100px);
  }
  87.5% {
    transform: translate(0, 50px);
  }
}
