
html, body {
  height: 100%;
overflow-y: hidden;
}

body{
  background: url("background.png") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
font-family: 'Raleway', sans-serif;
}

#topLogo{
max-width: 25%;
}

/* Navigation Bar */
.center {
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    display: block;
}
ul.topnav {
  width: 100%;
      display: inline-block;
      text-align: center;
      padding: 0;
      list-style: none;
      opacity: .85;
      border-top: 2.2px solid black;
      border-bottom: 2.2px solid black;
      margin-left: 0px;

}
ul.topnav li {
  display: inline-block;
  text-align:center;
  -webkit-text-stroke: 1px black;
}
ul.topnav li a {
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    color:black;
}
ul.topnav li.right {float: right;}
@media screen and (max-width: 850px){
    ul.topnav li.right,
    ul.topnav li {float: none;}
    body{overflow-y: scroll;}
    #contact{width:100%;}
}

/* Home Page */
#welcome{
  background-color: black;
  opacity: .8;
  border: 2.2px solid #42f4dc;
  margin:auto;
  width: 60%;
  text-align: center;
}
#team{
  max-width: 30%;
}

/* Skin Change and AeroChecker styling in scrollingStyles.css */

/* Contact Page */
#contact{
  background-color: black;
  opacity: .8;
  border: 2.2px solid #42f4dc;
  margin:auto;
  width: 60%;
  text-align: center;
}
#dog{
  max-width: 10%;
  opacity: 1;
}
.font{
  color:white;
  opacity: 1;
}

/* Terms Page */
#terms{
  background-color: black;
  opacity: .8;
  border: 2.2px solid #42f4dc;
  margin:auto;
  width: 60%;
  text-align: center;
}
#pig{
 max-width: 10%;
 opacity: 1;
}


/* PRELOADER STUFF */
.preload {
    background: url("background.png") no-repeat center center fixed;
  color: white;
  text-align: center;
  padding: 20%;
}
#preloader.hidden {
  opacity: 0;
}
#preloader::before,
#preloader::after {
animation: load 3s infinite alternate ease-in-out;
}
#preloader::before {
  top: 0;
}
#preloader::after {
  bottom: 0;
}
@keyframes load {
  0% {
    left: 0;
    height: 30px;
    width: 15px;
  }
  50% {
    height: 8px;
    width: 40px;
  }
  100% {
    left: 235px;
    height: 30px;
    width: 15px;
  }
}
.content {
  display: none;
}
.loading span {
  display: inline-block;
  vertical-align: middle;
  width: .6em;
  height: .6em;
  margin: .19em;
  background: #007DB6;
  border-radius: .6em;
  -webkit-animation: loading 1s infinite alternate;
          animation: loading 1s infinite alternate;
}
/*
 * Dots Colors
 * Smarter targeting vs nth-of-type?
 */
.loading span:nth-of-type(2) {
  background: #008FB2;
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s;
}
.loading span:nth-of-type(3) {
  background: #009B9E;
  -webkit-animation-delay: 0.4s;
          animation-delay: 0.4s;
}
.loading span:nth-of-type(4) {
  background: #00A77D;
  -webkit-animation-delay: 0.6s;
          animation-delay: 0.6s;
}
.loading span:nth-of-type(5) {
  background: #00B247;
  -webkit-animation-delay: 0.8s;
          animation-delay: 0.8s;
}
.loading span:nth-of-type(6) {
  background: #5AB027;
  -webkit-animation-delay: 1.0s;
          animation-delay: 1.0s;
}
.loading span:nth-of-type(7) {
  background: #A0B61E;
  -webkit-animation-delay: 1.2s;
          animation-delay: 1.2s;
}

/*
 * Animation keyframes
 * Use transition opacity instead of keyframes?
 */
@-webkit-keyframes loading {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes loading {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
